<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <form th:object="${investmentChoices}" method="get">

        <div class="form-group">
            <label th:for="${investment_choices}"><h3>Asset Allocation:</h3></label>
            <tr>
                <th:block th:each="item : ${assetAllocation}">
                    <td><input type="checkbox" th:field="*{assetAllocation}" />*{assetAllocation}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                    <td></td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Bonds:</h3></label>
            <tr>
                <th:block th:each="item : ${bonds}">
                    <td><input type="checkbox" th:field="*{bonds}" />*{bonds}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Global:</h3></label>
            <tr>
                <th:block th:each="item : ${global}">
                    <td><input type="checkbox" th:field="*{global}" />*{global}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Large Cap:</h3></label>
            <tr>
                <th:block th:each="item : ${largeCap}">
                    <td><input type="checkbox" th:field="*{largeCap}" /> *{largeCap}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Mid Cap:</h3></label>
            <tr>
                <th:block th:each="item : ${midCap}">
                    <td><input type="checkbox" th:field="*{midCap}" />*{midCap}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Small Cap:</h3></label>
            <tr>
                <th:block th:each="item : ${smallCap}">
                    <td><input type="checkbox" th:field="*{smallCap}" />*{smallCap}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Specialty:</h3></label>
            <tr>
                <th:block th:each="item : ${specialty}">
                    <td><input type="checkbox" th:field="*{specialty}" />*{specialty}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <div class="form-group">
            <label th:for="investment-choices"><h3>Stable Value:</h3></label>
            <tr>
                <th:block th:each="item : ${stableValue}">
                    <td><input type="checkbox" th:field="*{stableValue}" />*{stableValue}</td>
                    <td><input class="form-control" th:field="*{percent}" />%</td>
                </th:block>
            </tr>
        </div>

        <br />

        <input type="submit" value="Submit" />

        <br />

    </form>

    <br />
    <br />

    <a href="/logout">Logout</a>

</body>

</html>