<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

    <form method="post" style="max-width:500px;" th:object="${signup}">

        <h1 th:text="${title}">Default Title</h1>

        <div class="form-group">
            <label th:for="username">Username:</label>

            <input class="form-control" th:field="*{username}" />

            <span th:errors="*{username}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="password">Password:</label>

            <input class="form-control" th:field="*{password}" />

            <span th:errors="*{password}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="verify-password">Verify Password:</label>

            <input class="form-control" th:field="*{verify_password}" />

            <span th:errors="*{verify_password}" class="error"></span>
        </div>


        <input type="submit" value="Sign Up" />

    </form>

</body>
</html>